.y_axis path,
.y_axis line,
.x_axis path,
.x_axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: white;
  	stroke-opacity: 0;
}

body {
	text-align:center;
}

.meanColor {
  stroke: red;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 3px;
}

.minColor {
  stroke: blue;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 3px;
}

.maxColor {
  stroke: green;
  fill: none;
  stroke-opacity: 0.4;
  stroke-width: 3px;
}

.point {
	fill: white;
}